<div class="container-narrow">
  <div class="landing-page">

    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li class="active">
          <a href="#">Principal</a>
        </li>
        <li>
          <a href="mailto:cassio.paixao@gmail.com">Contato</a>
        </li>
      </ul>
      <h3 class="muted">Politic@Me</h3>
    </div>

    <hr>

    <div class="jumbotron">
      <h1>Suas ideias na gestão pública!</h1>
    </div>
    <div class="jumbotron problem">
      <p class="lead">
        Chegam as eleições, você pensa em alguns candidatos para votar, mas fica difícil perceber quem pode melhor representar suas opiniões na gestão pública?
      </p>
    </div>

    <div class="jumbotron question">
      <p class="lead">
        E se houvesse um meio de identificar os políticos que pensam de maneira semelhante à sua ao votar em projetos de lei?
      </p>
    </div>

    <div class="jumbotron propose">
      <p class="lead">
        Com base em algoritmos e em suas opiniões sobre alguns projetos, lhe apresentaremos políticos que tem mais chances de, de fato, lhe representar no governo.
      </p>
    </div>

    <hr>
    <div class="footer">
      <p>
        &copy; Politic@Me 2013
      </p>
    </div>

  </div>

</div>
<!-- /container -->
