<% flash.each do |name, msg| %>
<% if msg.is_a?(String) and [:error, :success, :notice, :alert].include?(name) %>
<div class="alert alert-<%= name %>">
  <a class="close" data-dismiss="alert">&#215;</a>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
</div>
<% end %>
<% end %>
