<div class="span4 proposta-box">
  <h3>
    <%= p.to_s %>
  </h3>
  <p class="ementa">
    <%= p.ementa %>
  </p>
  <div class="row text-center">
    <a href="#" class="btn btn-primary btn-success"><strong><i class="icon-ok icon-large icon-white"></i> Favor</strong></a>
    <a href="#" class="btn btn-primary btn-danger"><strong><i class="icon-remove icon-large icon-white"></i> Contra</strong></a>
    <a href="#" class="btn btn-primary btn-info"><strong><i class="icon-zoom-in icon-large icon-white"></i> Info</strong></a>
  </div>
</div>
