// Place all the styles related to the deputados controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.votacao-deputado td, table.votacao-deputado th {
    text-align: center;
}

div.deputado-info {

    .deputado-picture {
        text-align: center;
    }

    .deputado-data, .deputado-picture {
        padding-bottom: 20px;
    }
}
