<% content_for :page_class, 'about-page' %>

<div class="jumbotron">
  <h1>O projeto</h1>
  <p class="lead">
    Conheça mais detalhes sobre o projeto PoliticaMe e algumas formas de contribuição.
  </p>
</div>

<h2>Contexto</h2>
<p>
  Muito se critica sobre projetos de lei e emendas constitucionais que são propostos e discutidos pelos políticos. A população em geral não se vê bem representada pelos políticos mais votados, e a discussão de "como mudar o Brasil?" muitas vezes direciona para o processo eleitoral: cada cidadão deve votar nos candidatos de modo que eles o representem na gestão pública.
</p>
<p>
  Mas... como escolher meus representantes? Como avaliar se estou votando em alguém mais por afinidade de ideias do que pelo fato de seu nome estar na mídia?
</p>

<h2>Missão</h2>
<p>
  Aproximar os cidadãos de seus representantes, ou candidatos a, no poder legislativo.
</p>

<h2>Objetivo</h2>
<p>
  Com base em ferramentas de tecnologia da informação, apresentar a cada cidadão os candidatos a cargos no legislativo que podem melhor representá-lo no mesmo.
</p>

<h2>Mão na massa</h2>
<p>
  Temos nesse site informações de proposições (projetos de lei, propostas de emendas constitucionais, entre outras) apresentadas na Câmara dos Deputados, bem como os votos dos políticos a essas proposições (quando disponíveis).
  Com base nessas informações, o usuário pode se posicionar a favor ou contra as proposições disponíveis, e então um algoritmo calcula a afinidade de ideias entre o usuário e cada político.
</p>
<p>
  Com base nesse ranking, o cidadão pode selecionar alguns politicos de seu maior interesse, e então acompanhar a atuação dos mesmos mais ativamente, até encontrar um bom candidato para lhe representar no poder legislativo.
</p>

<h2>Como contribuir</h2>
<p>
  Desejamos montar um sistema que seja útil para ajudar o cidadão a escolher seu candidato. Se você gostaria de saber algo sobre os candidatos que facilitaria a escolha de um, nos informe, e faremos o possível para disponibilizar essa informação, ainda que seja a indicação de um site que já tenha tal informação bem apresentada.
</p>
<p>
  Tem alguma sugestão, crítica, dúvida, ou mesmo comentário sobre o projeto? Diga-nos! Ficaremos gratos em entender melhor como o projeto está sendo visto e, claro, levaremos sua ideia em consideração nas próximas atualizações. Clicando no ícone à esquerda (<i>Feedback</i>) você pode conferir sugestões já indicadas por outros usuários, e também acrescentar a sua.
</p>
<p>
  Gostou do projeto? Divulgue! Estamos de tempos em tempos implementando novas funcionalidades para o sistema. Verifique nossos <%= link_to 'próximos passos', :action => 'next_steps' %>.
</p>

<h2>Questões técnicas</h2>
<p>
  O código-fonte do sistema está disponível no GitHub: <a href="https://github.com/cassiopaixao/politicame" target="_blank">https://github.com/cassiopaixao/politicame</a>. Contribuições no código também são bem vindas :D
</p>

<h2>Contribuições</h2>
<ul>
  <li>Cássio Paixão</li>
  <li>Max Rosan</li>
  <li>Raquel Cavalcante</li>
  <li>Vânia Carvalho</li>
  <li>Wesley Seidel</li>
</ul>

<p class="text-center">
  <br/>
  <%= mail_to 'cassio.paixao@gmail.com', 'Entre em contato: cassio.paixao@gmail.com', :class => 'btn btn-large btn-info' %>
  <br/>
</p>
