<% @proposicoes ||= [] %>
<script language="JavaScript" type="text/javascript">
  $(document).ready(function() {
    $(".proposta-box .ementa").dotdotdot();
  }); 
</script>

<div class="hero-unit">
  <h1>Parabéns, cidadão!</h1>
  <p class="lead">
    Este site tem a missão de facilitar a sua vida na hora de encontrar candidatos que possam realmente lhe representar no governo.
    Acreditamos que é isso que busca, e por isso já lhe parabenizamos!
  </p>
  <p class="lead">
    Que tal conhecer um pouco sobre nossa proposta para o site?
  </p>
  <p>
    <a href="<%= url_for :action => 'idea' %>" class="btn btn-primary btn-large">Saiba mais &raquo;</a>
  </p>
</div>

<h1>Propostas</h1>

<% if @proposicoes.empty? %>
<p>
  Não foi possível listar as propostas. Se possível, informe o administrador do sistema sobre esse fato (não deveria ter ocorrido!) pelo e-mail <%= mail_to 'cassio.paixao@gmail.com' %>.
</p>
<p>
  Pedimos desculpas pelo ocorrido.
</p>
<p>
  Obrigado.
</p>
<% else %>

<div class="row">
  <% @proposicoes.each do |proposicao| %>
  <%= render :partial => '/shared/show_proposta_slim', :locals => {:p => proposicao} %>
  <% end %>
</div>
<div class="row">
  <div class="span12 text-right">
    <a href="<%= url_for :controller => 'proposicao', :action => 'index' %>" class="btn btn-small">mais propostas &raquo;</a>
  </div>
</div>

<% end%>