<% content_for :page_class, 'next-steps-page' %>

<h1>Próximos passos</h1>
<p class="lead">Saiba em que passo estamos no projeto, e quais as mudanças que estão por vir.</p>

<h2>O site hoje</h2>
<dl>
  <dt>
    Proposições
  </dt>
  <dd>
    Já estamos buscando os dados de proposições (propostas de lei, propostas de lei complementar, propostas de emendas constitucionais, ...) do
    <a href="http://www2.camara.leg.br/transparencia/dados-abertos" target="_blank">serviço de dados abertos da Câmara dos Deputados</a>. Com o
    tempo, mais propostas estarão disponíveis no site. Estamos disponibilizando, no momento, somente propostas que já foram votadas.
  </dd>
  <dt>
    Votos dos usuários
  </dt>
  <dd>
    Usuários já podem se registrar e votar nas proposições disponíveis. Não bloqueamos a sua liberdade de mudar de opinião: caso vote de modo contrário ao seu último voto, consideraremos sua nova opinião na construção do ranking de deputados.
  </dd>
  <dt>
    Deputados
  </dt>
  <dd>
    Estamos coletando informações diversas para facilitar o acompanhamento da atuação dos deputados federais.
  </dd>
  <dt>
    O processo legislativo
  </dt>
  <dd>
    Selecionamos alguns vídeos para ajudar o cidadão a entender o processo legislativo e o funcionamento da Câmara dos Deputados.
  </dd>
</dl>

<h2>Lista de tarefas/necessidades</h2>
<dl>
  <dt>
    Dados de políticos
  </dt>
  <dd>
    Que informações podem ser úteis para ajudar o cidadão a escolher um deputado? Uma reflexão para ajudar nessa parte: "Se estiver em dúvida entre dois candidatos, que informação poderia me ajudar a escolher um deles?"
  </dd>
  <dt>
    Funcionamento do processo legislativo
  </dt>
  <dd>
    Estamos em busca de textos, imagens e vídeos que ajudem o cidadão leigo a entender mais sobre o processo legislativo. É possível que abranjamos também o processo eleitoral. Caso tenha ou conheça um bom material nesses temas, indique-o para nós e o disponibilizaremos no site (se os direitos de uso do material permitir).
  </dd>
</dl>

<h2>Sugestões?</h2>
<p>Escreva-nos! <%= mail_to 'cassio.paixao@gmail.com' %></p>
<p>Há também nossa página no facebook: <%= link_to 'PoliticaMe', 'http://facebook.com/PoliticaMe', :target => '_blank' %></p>
