<% content_for :page_class, 'nota-page' %>

<div class="jumbotron">
  <h1>Nota de esclarecimento</h1>
  <p class="lead">
    Esclarecimento sobre as poucas propostas disponíveis para voto.
  </p>
</div>

<p>
  Caros cidadãos,
</p>
<p>
  Depois de algumas semanas idealizando e implementando o projeto, finalmente chegou a hora de colocá-lo no ar. E, como em todo projeto, havia o risco de imprevistos ocorrerem. Pois é, aconteceu.
</p>
<p>
  Enquanto buscávamos os dados do serviço de <%= link_to 'Dados Abertos da Câmara dos Deputados', 'http://www2.camara.leg.br/transparencia/dados-abertos', :target => '_blank' %>, encontramos tantos projetos sendo propostos que ficamos tranquilos quanto a conseguir dados de suas votações. Não ocorreu.
</p>
<p>
  Mas ainda assim conseguimos um número razoável, pelo menos para lançar o site, de propostas que foram votadas (29, das propostas apresentadas entre 2008 e julho/2013). Pensamos que poderíamos aproveitar todas, ou a maioria, para o site. Não ocorreu.
</p>
<p>
  Muitas dessas propostas tiveram votações quanto a "Requerimento de urgência", "Requerimento para alteração no texto", "Requerimento para retirada de pauta", entre outros não relacionados com a aprovação ou rejeição da proposta de lei.
</p>
<p>
  Assim, pedimos desculpas pelo baixo volume de propostas disponíveis para votação. No momento optamos por disponibilizar apenas as propostas de lei já votadas, já que as demais não irão contribuir, hoje, para a proposta do site (lhe apresentar deputados que votam de maneira semelhante a você).
</p>
<p>
  Já estamos verificando votações de propostas anteriores a 2008, e assim que encontrarmos, estará disponível no site.
</p>
<p>
  Agradecemos pela compreensão.
</p>

<p>
  Abraços,
  <br/>
  Cássio Paixão e Max Rosan.
</p>
